.rainbow {
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(56deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    animation: anim1 5s infinite linear;
}

@keyframes anim1 {

    0%{
        transform: rotate(0);
    }
    100%{
       transform: rotate(360deg);        
    }
    
}