.rainbow {
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(56deg, #ff0000 0%,#1eff00 50%, #001aff 100%);
    animation: anim1 5s infinite linear;
}

@keyframes anim1 {

    0%{
        transform: rotate(0);
    }
    100%{
       transform: rotate(360deg);        
    }
    
}